.submit-button-contact {
    background-color: black !important;
    border-radius: 15px !important;
    padding: 10px 30px !important;
}

.submit-button-contact:hover {
    background-color: rgb(58, 58, 58) !important;
}